/* src/index.css */

/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom global styles here (optional) */
body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
